// Init
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$font: "Josefin Sans", sans-serif;
$inspect: solid red 1px;
$gradient: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
$white: #ffffff;

// Lightmode
$bgBody: #f2f2f2;
$bgFields: #ffffff;
$todoText: #494c6b;
$text: #9495a5;
$bgImage: url(../assets/bg-desktop-light.jpg);

// Main Styles
body {
  font-family: $font;
  background: $bgBody;
  height: 100vh;
  background-image: $bgImage;
  background-repeat: no-repeat;
  background-size: contain;
}
main {
  border: $inspect;
  margin: 0 auto;
  margin-top: 70px;
  width: 541px;
}
