// Init
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$font: "Josefin Sans", sans-serif;
$inspect: solid red 1px;
$gradient: linear-gradient(135deg, #57ddff, #c058f3);
$white: #ffffff;

// Lightmode
$bgBody: #f2f2f2;
$bgFields: #ffffff;
$todoText: #494c6b;
$text: #9495a5;
$borderColor: #e3e4f1;
$bgImageDesktop: url(../assets/bg-desktop-light.jpg);
$bgImgageMobile: url(../assets/bg-mobile-light.jpg);

// Main Styles
body {
  font-family: $font;
  background: $bgBody;
  height: 100vh;
  padding: 70px 24px;
  background-image: $bgImageDesktop;
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: $bgImgageMobile;
  }
}

main {
  margin: 0 auto;
  max-width: 541px;
}

// Header
header {
  display: flex;
  justify-content: space-between;

  h1 {
    color: $white;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 0.94rem;
  }
  button {
    font-size: 25px;
    color: $white;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 250ms ease;
  }
  button:hover {
    transform: scale(1.2);
  }
}

// Input
.form-control {
  margin-top: 40px;

  input[type="text"] {
    width: 100%;
    height: 64px;
    border-radius: 5px;
    border: none;
    font-family: $font;
    font-size: 1.125rem;
    font-weight: 400;
    color: $todoText;
    letter-spacing: -0.25px;
    background: $bgFields;
    padding: 0 24px;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  }
  input[type="text"]::placeholder {
    color: #9495a5;
  }
}

// List
.list-container {
  margin-top: 24px;
  width: 100%;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

  li {
    list-style-type: none;
    width: 100%;
    height: 64px;
    font-family: $font;
    font-size: 1.125rem;
    font-weight: 400;
    color: $todoText;
    display: flex;
    align-items: center;
    background: $bgFields;
    padding: 0 24px;
    border-bottom: solid 1px $borderColor;

    .flex-container {
      margin-left: 24px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  li:nth-child(1) {
    border-radius: 5px 5px 0 0;
  }

  .delete-item {
    font-size: 22px;
    cursor: pointer;
    transition: 250ms ease;
  }
  .delete-item:hover {
    transform: scale(1.2);
  }
}

// Footer
footer {
  width: 100%;
  height: 50px;
  background: $bgFields;
  border-radius: 0 0 5px 5px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

  p {
    font-size: 0.875rem;
    color: $text;
  }
}

// Sort/Text Buttons
.sort-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 18px;
}

.text-button {
  background: none;
  font-family: $font;
  font-size: 0.875rem;
  font-weight: 400;
  cursor: pointer;
  color: $text;
  border: none;
  transition: 250ms ease;
}
.text-button:hover {
  font-weight: 700;
  color: $todoText;
}

.outer-sort-buttons {
  margin-top: 16px;
  width: 100%;
  height: 48px;
  background: $bgFields;
  border-radius: 5px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}

@media only screen and (max-width: 600px) {
  .inner-sort-buttons {
    display: none;
  }
  .outer-sort-buttons {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .inner-sort-buttons {
    display: block;
  }
  .outer-sort-buttons {
    display: none;
  }
}
